#contenedor{
    min-height: calc(100vh - 141.5px);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr 300px;
    grid-column-gap: 20px;
}

#menu-lateral{
    margin: 10px 0 0 10px;
}

#alert_position{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}

#contenedorForm{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#contenedor form{
	margin-top: 20px;
    width: 700px;
}

#botonera{
    display: flex;
    justify-content: space-between;
}

.contenedorinput{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
}

.contenedorinput .input-label{
    width: 200px;
    margin-right: 10px;
}

#tipoUsuarioRadioButtonContainer{
    display: flex;
}

#tipoUsuarioRadioButtonContainer .form-check{
    margin-right: 10px;
}
