.alert{
    width: 500px;
}

.obligatorio{
    color: red;
}

/* Chrome, Safari, Edge, Opera */
.hideArrows input::-webkit-outer-spin-button,
.hideArrows input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.hideArrows input[type=number] {
    -moz-appearance: textfield;
}



form[role="search"] i{
    color: white;
}


.cardPerfil{
    display: grid !important;
    grid-template-columns: 0.3fr 1fr;
    grid-column-gap: 20px;
    padding: 20px;
}

.perfil{
    width: 350px;
    height: 250px;
}

.imagen_perfil{
    border-radius: 50%;
    height: 48px;
    width: 48px;
    position: absolute;
    left: calc(100% - 50px);
    bottom: -2px;
}

.nickname_usuario{
    margin-right: 50px;
}

form[role="search"] input{
    width: 250px;
}

.eliminarElemento{
    position: absolute;  left: -999999px;
}


#menu-lateral .card-title{
    padding: 2px 0 0 15px;
}

#menu-lateral > div{
    margin-bottom: 10px;
}