#contenedor{
    padding: 10px;
    min-height: calc(100vh - 141.5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor-form{
    width: 600px;
}

#botonera{
    display: flex;
    justify-content: space-between;
}

#lupa{
    color: white;
}