#contenedor{
    padding: 10px;
    height: 603px;
}

#filtros > div{
    margin-bottom: 10px;
    margin-left: 5px;
}

.cards{
    display: grid !important;
    grid-template-columns: 0.7fr 500px;
    grid-column-gap: 20px;
}

.imagenActividades{
    margin: 10px 20px 10px 10px;
    width: 500px !important;
    height: 100% !important;
}