#contenedor{
    padding: 10px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 20px;
    min-height: calc(100vh - 141.5px);
}

.cardPerfil{
    display: grid !important;
    grid-template-columns: 0.3fr 1fr;
    grid-column-gap: 20px;
    padding: 20px;
}

.perfil{
    width: 350px;
    height: 250px;
}

.imagen_perfil{
    border-radius: 50%;
    height: 48px;
    width: 48px;
    position: absolute;
    left: calc(100% - 50px);
    bottom: -5px;
}

.consulta_de_usuario{
    align-content: center;
}

.nickname_usuario{
    margin-right: 50px;
}

.pencil{
    margin-left: 20px;
    color: #C34227;
}

.text{
    color: #4e555b;
}

.imagenSalidas{
    margin: 10px 20px 10px 10px;
}

.paquetes{
    width: 200px !important;
    height: 150px !important;
    margin: 10px 20px 10px 10px;
}

.cards{
    margin-right: 20px;
}

.botonera{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
